<section class="p-4 mx-0">

  <div class="row mx-4">

    <div class="col-12  py-2">
      <h1>Quiénes Somos</h1>
      
    </div>

    <div class="col-12 container-about-img py-2">
     
      <img src="../../../assets/imgregistrelogin/about1.jpg" alt="Fotografía grupal FENPOF" class="img-fluid pt-2 pb-5">
    </div>

    <div class="col-12 container-description-about py-2 ">
      <div class="mx-1">
        
      <p>Federación de Enfermedades Poco Frecuentes Chile (Fenpof Chile),
        está conformada por líderes de 11 Agrupaciones, Asociaciones , Corporaciones y/o
        Fundaciones, que buscan mejorar las Políticas Públicas en favor de los Niños, Jóvenes y Adultos,
        que padecen alguna de las <b>180 patologías existentes hoy en chile</b>, y que clasifican
        cómo <b>enfermedades poco frecuentes</b>.</p>
      </div>

    </div>

    <div class="col-12 ">
      <div class="mision-and-vision py-2 mx-1">
        <article class="mision py-2">
          <h4>Misión</h4>
          <p>Nuestra misión como federación es potenciar el trabajo en conjunto con agrupaciones,
            fundaciones y organizaciones que representen alguna <b>enfermedad poco frecuente</b>,
            promoviendo acciones de concientización, difusión, visibilización.
            Con el fin de acompañar a las familias en todos los procesos que ellos viven.</p>
        </article>
        <article class="vision py-2">
          <h4>Visión</h4>
          <p>Enfocando el trabajo conjunto, buscamos incidir en políticas públicas siendo <b><i>la voz de los
            sin voz</i></b>.
            Trabajando colaborativamente, las enfermedades poco frecuentes serán reconocidas por el
            <b>sistema de salud</b>, y los afectados tendrán el derecho a un diagnóstico correcto y temprano.
            Tratamientos y especialistas adecuados, asegurando con ellos una mayor inclusión en la
            sociedad con las mismas oportunidades. Con esto se logrará minimizar el impacto de las
            patologías tanto en pacientes como en las familias, mejorando su calidad de vida.</p>
        </article>
      </div>
    </div>


  </div>

</section>