

<section class="p-4 mx-0">

  <div class="row mx-4">
   <!-- titulo bienvenida-->
    <div class="col-12  py-2">
      <h1>Bienvenido a Admin FENPOF!</h1>
      
    </div>

    <div class="col-12  py-2">
     
      <p> Recuerda que puedes:</p>
    </div>

    <div class="col-12 container-opcion-admin  py-2 ">
      <a class="btn btn-primary" data-toggle="tab" href="#" [routerLink]="['/administrator/post']">Subir Eventos</a>
      <a class="btn btn-primary" data-toggle="tab" href="#" [routerLink]="['/galery']">Subir Imágenes</a>
    </div>
 </div>
 </section>

