.container-opcion-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-opcion-admin a{
   width: 30%;
   padding: 1rem 0rem;
   margin: 1rem 0rem;

}