<div class="row mx-0">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
  <main class="p-3 my-3">
    <article class="container card">
      <h3 class="mt-2"><b>Evento Febrero</b></h3>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
          <img src="../../../assets/img/home/event_29febrero.jpg" 
          alt="Imagen evento día internacional enfermedades raras. Fecha 29 de febrero 2020"
          class="img-event-home-one img-fluid">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
          <p>
            <b> 29 de febrero de 2020 de 10:00 a 11:00</b> 
          </p>
          <p>  <b>Ubicación:</b>
            Palacio De La Moneda - Santiago De Chile
            Moneda 1200, Santiago de Chile <br>
            <a href="https://www.google.com/maps/search/palacio+la+moneda/@-33.4432575,-70.6560394,17z/data=!3m1!4b1" target="_blank">
              ver mapa</a>
            </p>
          <p class="pr-3">El Día de las Enfermedades Raras es una celebración que se celebra el último día de febrero,
            para crear conciencia sobre las enfermedades raras y mejorar el acceso al tratamiento
             y la representación médica de las personas con enfermedades raras y sus familias.
             La Organización Europea de Enfermedades Raras se estableció este día en 2008,
              para crear conciencia sobre enfermedades desconocidas o ignoradas. 
              Según (EURORDIS), el tratamiento para muchas enfermedades raras es insuficiente, 
              al igual que las redes sociales para apoyar a las personas con enfermedades raras 
              y sus familias;</p>
        </div>
       
      </div>

    </article>
  </main>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
  <aside>aside </aside>
</div>
</div>