.header-organization{
    display: flex;
flex-direction: row;

align-items: self-start;
}



.header-organization img{   
    margin-right: 15px;
    max-width:12px ;
}


@media(min-width:575px){
    .header-organization{justify-content: start;}
    .header-organization h3{text-align:start;}
}